<link rel="stylesheet" type="text/css" href="/css/characters.css">
<form action="/build" method="POST">
<div class="container">
<div class="character-content">
  <div class="cs-how">
  <h2>Enter a name for your build:</h2><br>
    <input type="text" name="build[name]" id="build_name" placeholder="ex. Stealth, Healing, Looping, My Favorite Build"><br>
  <h2>Select a character:</h2><br>
    <p>Selecting a character is optional. You can create a build tied to no character by making no character selection and hitting continue below.</p><br>
    <h3>You selected: "character name here"</h3><br>
    <input type="submit" value="Continue to Perk Selection">
</div>
<div class="container-characters">
  <div class="fpbox" id="fpsurvivors" style="text-align: center;">
  <div class="heading"><a href="/Survivors" title="Survivors">The Survivors</a>
  </div>
  <div class="fplinks">
  <% @characters.each do |c|%>
  <% if c.character_type == "survivor"%>
  <div class="fplink plainlinks image">
  <div class="box">
  <div class="row">
  <div class="cell">
  <div class="image">
  <a href="/characters/<%= c.slug%>" title="<%= c.name %>"><img alt="<%= c.name %> Preview Portrait.png" src="images/characters/<%=c.name%>.png" width="190" height="210" /></a>
  </div>
  <div class="link">
  <a href="/characters/<%= c.slug%>" title="<%= c.name %>"><%= c.name %></a>
  </div>
  </div>
    <input id="character_<%= c.id %>" type="checkbox" name="build[character_id]" value="<%= c.id %>">
  </div>
  </div>
  </div>
  <%end%>
  <%end%>
  </div>

  </div>
</div>
<div class="container-characters">
  <div class="fpbox" id="fpkillers" style="text-align: center;">
  <div class="heading"><a href="/Killers" title="Killers">The Killers</a>
  </div>
  <div class="fplinks">
  <% @characters.each do |c|%>
  <% if c.character_type == "killer"%>
  <div class="fplink plainlinks image">
  <div class="box">
  <div class="row">
  <div class="cell">
  <div class="image">
  <a href="characters/<%= c.slug%>" title="<%= c.name %>"><img alt="<%= c.name %> Preview Portrait.png" src="images/characters/<%=c.name%>.png" width="190" height="210" /></a>
  </div>
  <div class="link">
  <a href="characters/<%= c.slug%>" title="<%= c.name %>"><%= c.name %></a>
  </div>
  </div>
    <input id="character_<%= c.id %>" type="checkbox" name="build[character_id]" value="<%= c.id %>">
  </div>
  </div>
  </div>
  <%end%>
  <%end%>
  </div>
  </div>
</div>
</div>
</div>
</form>