<link rel="stylesheet" type="text/css" href="/css/characters.css">

<div class="container">
<div class="character-content">
  <div class="cs-how">
  <h2>How it works.</h2>
  <ol>
    <li>Select a character</li>
    <li>Add perks to your character's loadout.</li>
    <li>Save your build (create a free account to save your builds!)
    <li>Share your build for others to rate</li>
  </ol>
</div>
<div class="container-characters">
  <div class="fpbox" id="fpsurvivors" style="text-align: center;">
  <div class="heading"><a href="/Survivors" title="Survivors">The Survivors</a>
  </div>
  <div class="fplinks">
  <% @characters.each do |c|%>
  <% if c.character_type == "survivor"%>
  <div class="fplink plainlinks image">
  <div class="box">
  <div class="row">
  <div class="cell">
  <div class="image">
  <a href="/characters/<%= c.slug%>" title="<%= c.name %>"><img alt="<%= c.name %> Preview Portrait.png" src="images/characters/<%=c.name%>.png" width="190" height="210" /></a>
  </div>
  <div class="link">
  <a href="/characters/<%= c.slug%>" title="<%= c.name %>"><%= c.name %></a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <%end%>
  <%end%>
  </div>

  </div>
</div>
<div class="container-characters">
  <div class="fpbox" id="fpkillers" style="text-align: center;">
  <div class="heading"><a href="/Killers" title="Killers">The Killers</a>
  </div>
  <div class="fplinks">
  <% @characters.each do |c|%>
  <% if c.character_type == "killer"%>
  <div class="fplink plainlinks image">
  <div class="box">
  <div class="row">
  <div class="cell">
  <div class="image">
  <a href="characters/<%= c.slug%>" title="<%= c.name %>"><img alt="<%= c.name %> Preview Portrait.png" src="images/characters/<%=c.name%>.png" width="190" height="210" /></a>
  </div>
  <div class="link">
  <a href="characters/<%= c.slug%>" title="<%= c.name %>"><%= c.name %></a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <%end%>
  <%end%>
  </div>
  </div>
</div>
</div>

</div>
